1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
body {
	font-family: "Microsoft YaHei","Droid Sans","wenquanyi micro hei","Hiragino Sans GB",sans-serif;
	line-height: 1;
	font-size: 1rem;
	margin:0px;
	padding: 0px;
}
.fl {float: left;}
.fr {float: right;}
.tc {text-align: center;}
.tr {text-align: right;}
.tl {text-align: left;}
.w_4 {width: 33.33333333%;}
.w_6 {width: 50%;}
.w_8 {width: 66.66666667%;}
.w_12 {width: 100%;}
.label {
	padding: .625em;
	box-sizing: border-box;
}
.btn-primary{
	color: #fff;
	background-color: #0e90d2;
	border-color: #0e90d2;
	font-family: "Microsoft YaHei","Droid Sans","wenquanyi micro hei","Hiragino Sans GB",sans-serif;
}
.btn-primary:hover, .btn-primary:focus{
	color: #fff;
	background-color: #0a6999;
	border-color: #0a6999;
}
.btn-danger{
	color: #fff;
	background-color: #dd514c;
	border-color: #dd514c;
	font-family: "Microsoft YaHei","Droid Sans","wenquanyi micro hei","Hiragino Sans GB",sans-serif;
}
.btn-danger:hover, .btn-danger:focus {
	color: #fff;
	background-color: #c62b26;
	border-color: #c62b26;
}
.form{
	padding-top: 1em;
	box-sizing: border-box;
}
.form-group{
	float: left;
	margin-bottom: 20px;
}
.btn{
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 0;
	padding: .625em 1em;
	vertical-align: middle;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	cursor: pointer;
	outline: 0;
	background-image: none;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	padding-top: .5em;
	padding-bottom: 0.5em;
	-webkit-transition: background-color 300ms ease-out,border-color 300ms ease-out;
	transition: background-color 300ms ease-out,border-color 300ms ease-out;
}
.input{
	display: block;
	width: 100%;
	padding: .625em;
	font-size: 1rem;
	line-height: 1;
	color: #555;
	outline: 0;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

#uploader-demo .thumbnail {
	width: 110px;
	height: 110px;
}
.uploader-list {
	width: 100%;
	overflow: hidden;
}

.file-item {
	float: left;
	position: relative;
	margin: 0 20px 20px 0;
	padding: 4px;
}
.file-item img{
	width:90px;

}
.thumbnail, .img-thumbnail {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}
.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.file-item .info {
	position: absolute;
	left: 4px;
	bottom: 4px;
	right: 4px;
	height: 20px;
	line-height: 20px;
	text-indent: 5px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	z-index: 10;
}
.file-item .error {
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	background: red;
	color: white;
	text-align: center;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
}
.file-item .success {
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	background: green;
	color: white;
	text-align: center;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
}
.file-item .success i{
	padding:0px 5px;
}